##### step 1. load the iris.csv dataset.

In [1]:
import pandas as pd

In [2]:
h = pd.read_csv("Iris.csv")

##### 1. Write a Pandas program to get the data types of the given csv data (iris.csv ) fields

In [3]:
### code here
h.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

##### 2. Write a Pandas program to find the sum, mean, max, min value of 'SepalLengthCm' column of dataframe

In [4]:
### code here
h.loc[:,"SepalLengthCm"].sum()

876.5

In [5]:
h.loc[:,"SepalLengthCm"].min()

4.3

In [6]:
h.loc[:,"SepalLengthCm"].max()

7.9

In [7]:
h.loc[:,"SepalLengthCm"].mean()

5.843333333333335

##### 3. Write a Pandas program to import iris data and skipping first twenty rows into a Pandas dataframe.

In [8]:
### code here
h.loc[21:,:]

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
21,22,5.1,3.7,1.5,0.4,Iris-setosa
22,23,4.6,3.6,1.0,0.2,Iris-setosa
23,24,5.1,3.3,1.7,0.5,Iris-setosa
24,25,4.8,3.4,1.9,0.2,Iris-setosa
25,26,5.0,3.0,1.6,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

##### 4. Write a Pandas program to display the last ten rows.

In [9]:
### code here
h.tail(10)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
140,141,6.7,3.1,5.6,2.4,Iris-virginica
141,142,6.9,3.1,5.1,2.3,Iris-virginica
142,143,5.8,2.7,5.1,1.9,Iris-virginica
143,144,6.8,3.2,5.9,2.3,Iris-virginica
144,145,6.7,3.3,5.7,2.5,Iris-virginica
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

##### 5. Write a Pandas program to create a subtotal of "PetalLengthCm" against Species from the dataframe.

In [20]:
### code here
h.groupby(['Species'])['PetalLengthCm'].sum()

Species
Iris-setosa         73.2
Iris-versicolor    213.0
Iris-virginica     277.6
Name: PetalLengthCm, dtype: float64

###### 6. Write a Pandas program to find details where "PetalLengthCm" > 2.

In [10]:
### code here
h[h.PetalLengthCm>2]

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
50,51,7.0,3.2,4.7,1.4,Iris-versicolor
51,52,6.4,3.2,4.5,1.5,Iris-versicolor
52,53,6.9,3.1,4.9,1.5,Iris-versicolor
53,54,5.5,2.3,4.0,1.3,Iris-versicolor
54,55,6.5,2.8,4.6,1.5,Iris-versicolor
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

###### 7. Write a Pandas program find all records that include two specific Species.

In [17]:
### code here
h[h['Species'].isin(['Iris-versicolor','Iris-virginica'])]

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
50,51,7.0,3.2,4.7,1.4,Iris-versicolor
51,52,6.4,3.2,4.5,1.5,Iris-versicolor
52,53,6.9,3.1,4.9,1.5,Iris-versicolor
53,54,5.5,2.3,4.0,1.3,Iris-versicolor
54,55,6.5,2.8,4.6,1.5,Iris-versicolor
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [18]:
h[h['Species'].isin(['Iris-versicolor','Iris-setosa'])]

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
95,96,5.7,3.0,4.2,1.2,Iris-versicolor
96,97,5.7,2.9,4.2,1.3,Iris-versicolor
97,98,6.2,2.9,4.3,1.3,Iris-versicolor
98,99,5.1,2.5,3.0,1.1,Iris-versicolor
99,100,5.7,2.8,4.1,1.3,Iris-versicolor

###### 8.  Write a Pandas program to sort the records by the SepalLengthCm column.

In [14]:
### code here
h.sort_values(by = ['SepalLengthCm'])

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
13,14,4.3,3.0,1.1,0.1,Iris-setosa
42,43,4.4,3.2,1.3,0.2,Iris-setosa
38,39,4.4,3.0,1.3,0.2,Iris-setosa
8,9,4.4,2.9,1.4,0.2,Iris-setosa
41,42,4.5,2.3,1.3,0.3,Iris-setosa
...,...,...,...,...,...,...
122,123,7.7,2.8,6.7,2.0,Iris-virginica
118,119,7.7,2.6,6.9,2.3,Iris-virginica
117,118,7.7,3.8,6.7,2.2,Iris-virginica
135,136,7.7,3.0,6.1,2.3,Iris-virginica
131,132,7.9,3.8,6.4,2.0,Iris-virginica

##### 9. Write a Pandas program to insert a column in the sixth position of dataframe and fill it with NaN values.

In [15]:
import numpy as np

In [15]:
### code here
h.insert(6,"new",np.nan)

In [16]:
h.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,new
0,1,5.1,3.5,1.4,0.2,Iris-setosa,NaN
1,2,4.9,3.0,1.4,0.2,Iris-setosa,NaN
2,3,4.7,3.2,1.3,0.2,Iris-setosa,NaN
3,4,4.6,3.1,1.5,0.2,Iris-setosa,NaN
4,5,5.0,3.6,1.4,0.2,Iris-setosa,NaN

##### 10. Write a Pandas program to add summation to a row of the dataframe.

In [4]:
### code here
h.insert(6,"summation",h.SepalLengthCm + h.SepalWidthCm + h.PetalLengthCm + h.PetalWidthCm)

In [5]:
h.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,summation
0,1,5.1,3.5,1.4,0.2,Iris-setosa,10.2
1,2,4.9,3.0,1.4,0.2,Iris-setosa,9.5
2,3,4.7,3.2,1.3,0.2,Iris-setosa,9.4
3,4,4.6,3.1,1.5,0.2,Iris-setosa,9.4
4,5,5.0,3.6,1.4,0.2,Iris-setosa,10.2